/* VARIABLES DE COLORES Y FUENTES */


/* COLORES */
$color-white: white;



/* FUENTES, SIZE, WEIGHT Y CENTRADO  */

$fuente-roboto: "Roboto", sans-serif;
$fuente-weight: 400;
$texto-centrado: center;