/* Importo el archivo que contiene las variables */

@import "utilities/variables";
@import "utilities/mixins";
@import "base/reset";
@import "components/header";
@import "components/galeriaIndex";
@import "components/iframe";
@import "components/galeriaFauna";
@import "components/buttons";
@import "components/footer";

.titulos {
    @include textos($fuente-roboto, 900, $texto-centrado);
    color: $color-green;
    font-size: 2.5rem;
    padding: 20px;
    margin: 10px;
}

.parrafos {
    @include textos($fuente-roboto, $fuente-weight, $texto-centrado);
}

.subtitulos {
    @include textos($fuente-roboto, $fuente-weight, $texto-centrado);
    color: $color-green;
    font-size: 2.5rem;
    padding: 20px;
    margin: 10px;
}