

.iconos {
    font-size: 1.75rem;
}

.facebook:hover {
    background-color: #3b5998;
}

.instagram:hover {
    background-color: #833ab4;
}

.youtube:hover {
    background-color: #cd201f;
}

footer {
    text-align: $texto-centrado;
    color: $color-white;
    padding: 15px;
}

.footer {
     margin-top: 200px;
}